<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
<!--            <a th:href="@{/users/edit(id=${user.getId()})}">-->
<!--                <button type="button">Update</button>-->
<!--            </a>-->

            <form th:method="POST" th:action="@{/users/edit(id=${user.getId()})}" style="display:inline">
                <button type="submit">Update</button>
            </form>

            <form th:method="DELETE" th:action="@{/users/delete(id=${user.getId()})}" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a href="/users/new">
    <button type="button">Create new user</button>
</a>

</body>
</html>